# MongoDB and backend configuration
MONGO_URI=mongodb+srv://shreyapk152113_db_user:O0oqlnWVSA84cHAf@cluster0.b8shwbt.mongodb.net/bloodDonationDB?retryWrites=true&w=majority
PORT=5000
JWT_SECRET=0c6152245608c7d4ba738e887a3393a0716f965d0b5ebdd8b00f9142a11545fd0ec1d02a72810c52174f4f9fa9c63a6f2bfcb7ca65c3b2481674e239a38c4d38

# SMTP configuration for Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=shreya.sd1115@gmail.com
SMTP_PASS=usfi qlyb zkph jvqn
EMAIL_FROM="Blood Donation System <shreya.sd1115@gmail.com>"

# Frontend URL used for password reset links
FRONTEND_URL=http://localhost:3000
